<div class="container">
    <form role="search" (submit)="iraBusqueda(textoBusqueda.value)">
        <div class="input-field">
            <div class="edge-input-icon">
                <i class="fa fa-search icons-register"></i>
                <input
                    #textoBusqueda
                    class="input-register"
                    type="search" 
                    placeholder="¿Qué vamos a buscar hoy?"
                    aria-label="Search"
                />
            </div>
        </div>
    </form>
    <div class="row justify-content-center align-items-start" style="height: 80vh;">
        <!-- Primera columna -->
        <div class="col-md-6" style="display: flex; flex-direction: column; align-items: start;">
            <h1 class="inicio-text mb-3">QUINDIO</h1>
            <h1 class="inicio-text2 mb-3">Tú próximo destino</h1>
            <button class="button-inicio mb-3">Vamos a ello</button>
        </div>
        <!-- Segunda columna -->
        <div class="col-md-6">
            <div id="mapa"></div>
        </div>
    </div>
</div>
