<div class="home-background">
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 80vh;">
            <div class="col-md-12">
                <div class="input-field">
                    <div class="edge-input-icon">
                        <i class="fa fa-search icons-register"></i>
                        <input
                            class="input-register"
                            type="text"
                            placeholder="¿Qué vamos a buscar hoy?"
                        />
                    </div>
                </div>                        
                <h1 class="inicio-text">QUINDIO</h1>
                <h1 class="inicio-text2">Tú proximo destino</h1>
                <button class="button-inicio">Vamos a ello</button>
            </div>
        </div>
    </div>
</div>
