<div class="container" id="container">
    <div class="form-container sign-up-container">
        <div style="margin: 0 auto; width: 80%;">
            <h1 style="font-weight: bold; margin-bottom: 20px; margin-top: 12px">Crea tu cuenta</h1>
        </div>
        <form class="formRegistro" #f="ngForm">
            <div class="input-container">
                <i class="fa-solid fa-user"></i>
                <input class="Input-registro" type="text" name="nombre" [(ngModel)]="registroClienteDTO.nombre" placeholder="Nombre" required/>
            </div>
            <div class="input-container">
                <i class="fa-solid fa-user"></i>
                <input class="Input-registro" type="text" name="nickname" maxlength="15" [(ngModel)]="registroClienteDTO.nickname" placeholder="Nickname" required/>
            </div>
            <div class="input-container">
                <i class="fa-solid fa-envelope"></i>
                <input class="Input-registro" type="file" name="fotoPerfil" (change)="onFileChange($event)" required />
            </div>
            <button type="submit" [disabled]="archivos == null" class="btn btn-primary"
                (click)="subirImagen()" >
                <i class="fa-solid fa-cloud-arrow-up me-2"></i>Subir Foto
            </button>
            <div class="input-container">
                <i class="fa-solid fa-map"></i>
                <select name="ciudadResidencia" class="form-select" required [(ngModel)]="registroClienteDTO.ciudadResidencia" >
                    <option disabled selected value="">Seleccione una Ciudad</option>
                    @for (ciudad of ciudades; track ciudad) {
                        <option [value]="ciudad.nombre">{{ciudad.nombre}}</option>
                    }                
                </select>
            </div>
            <div class="input-container">
                <i class="fa-solid fa-envelope"></i>
                <input class="Input-registro" type="email" name="Email" [(ngModel)]="registroClienteDTO.email" placeholder="Email" required/>
            </div>
            <div class="input-container">
                <i class="fa-solid fa-lock"></i>
                <input class="Input-registro" [type]="showPassword? 'text' : 'password'" name="Password" minlength="5" [(ngModel)]="registroClienteDTO.password" placeholder="Contraseña" required/>
                <i class="fa-solid {{activeIcon}}" (click)="togglePasswordVisibility()"></i>
            </div>
            <div class="input-container">
                <i class="fa-solid fa-lock"></i>
                <input class="Input-registro" [type]="showPassword? 'text' : 'password'" name="confirmaPassword" minlength="5" [(ngModel)]="registroClienteDTO.confirmaPassword" required placeholder="Repetir contraseña" />
                <i class="fa-solid {{activeIcon}}" (click)="togglePasswordVisibility()"></i>
            </div>
            @if (!sonIguales()) { <p>Las contraseñas no coinciden</p> }
            <button class="buttonRegistro" type="submit" [disabled]="f.invalid || !sonIguales()" (click)="registrar()">Registrarse</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form class="formRegistro" #f="ngForm">
            <h1 style="font-weight: bold; margin: 0;">Ingresa</h1>
            <div class="input-container">
                <i class="fa-solid fa-user"></i>
                <input class="Input-registro" type="email" [(ngModel)]="loginDTO.email" [ngModelOptions]="{standalone: true}" placeholder="Email" />
            </div>
            <div class="input-container">
                <i class="fa-solid fa-lock"></i>
                <input class="Input-registro" [type]="showPassword? 'text' : 'password'" [(ngModel)]="loginDTO.password" [ngModelOptions]="{standalone: true}" placeholder="Contraseña" />
                <i class="fa-solid {{activeIcon}}" (click)="togglePasswordVisibility()"></i>
            </div>
            <a href="#" style="color: #333; font-size: 14px; text-decoration: none; margin: 15px 0;">Olvidaste tu contraseña?</a>
            <button class="buttonRegistro" (click)="login()">Ingresa</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1 style="font-weight: bold; margin: 0;">¿Ya tienes una cuenta?</h1>
                <p style="font-size: 14px; font-weight: 100; line-height: 20px; letter-spacing: 0.5px; margin: 20px 0 30px;">
                    Para mantenerte conectado con nosotros, inicia sesión con tu información personal
                </p>
                <button class="buttonRegistro ghost" id="signIn">Inicia sesion</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1 style="font-weight: bold; margin: 0;">¿Eres nuevo?</h1>
                <p style="font-size: 14px; font-weight: 100; line-height: 20px; letter-spacing: 0.5px; margin: 20px 0 30px;">
                    Da click en el botón "REGISTRATE" y comienza tu viaje con nosotros.
                </p>
                <button class="buttonRegistro ghost" id="signUp" >Registrate</button>
                <app-alerta [alerta]="alerta"></app-alerta>
            </div>
        </div>
    </div>
</div>
