/* You can add global styles to this file, and also import other style files */
body{
    
    background-image: url('assets/Fondo2.jpeg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 89%; 
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
